<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome-all.css">
  </head>
  <body>
    <p></p>
    <div class="container">
      <% include ./partials/nav %>
        <% blogs.forEach(function(blog) { %>
        <div class="card border-primary" style="width: 50%"> 
          <div class="card-header">
            <div class="card-body">
              <h5 class="card-title"><%= blog.blogTitle %></h5> 
              <p class="card-text"><%= blog.blogText %></p> 
              <p class="card-text"><small class="text-muted">Created on <%= blog.createdOn.toDateString() %></small></p>
              <a href="/blogEdit/<%= blog._id %>" class="btn btn-primary">Edit</a>
              <a href="/blogDelete/<%= blog._id %>" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>
        <p></p>
        <% }); %>
    </div> <!-- container -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html> <!-- Ensure closing tag -->
