<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome-all.css">
</head>
<body>
    <div class="container">
        <% include ./partials/nav %>
        
        <% if (message) { %>
                <p></p>
                <h4><%= message %> </h4>
            </div>
        <% } else { %>
            <% blogs.forEach(function(blog) { %>
                <p></p>
                <div class="card border-primary" style="width: 50%"> 
                    <div class="card-header">
                        <h5 class="card-title"><%= blog.blogTitle %></h5> 
                    </div>
                    <div class="card-body">
                        <p class="card-text"><%= blog.blogText %></p> 
                        <p class="card-text">
                            <small class="text-muted">Created on <%= new Date(blog.createdOn).toDateString() %></small>
                        </p>
                        <a href="/blogEdit/<%= blog._id %>" class="btn btn-primary">Edit</a>
                        <a href="/blogDelete/<%= blog._id %>" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            <% }); %>
        <% } %>
    </div> <!-- container -->
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
